.r{ background-color: rgb(212, 207, 207);
    border: 2px solid rgb(165, 139, 139)
    width: auto;
    height: 40px;
    position: relative;
}
a{ margin-left: 20px;
  
    
    width: 100px; height: 7px;
}
.a{ text-decoration: none;
font-weight: bolder;
margin-top: 10px;
}
.a1{
    margin-top: auto;
    margin-left: 30px;
}
.a2{ position: absolute;
    text-decoration: none;
   
    margin-top: -25px
}
.a3{
    
   margin-top: -55px;
    margin-left: 400px;

    
}
.a4{ margin-left: 0px;
    margin-top: -30px;
}


.nav-link:hover{
    text-decoration: underline;
}
.a5{  margin-left: -0px;
    margin-top: 60px;
    text-size-adjust: 2px;
}
.a6{
    
    width: auto;
    height: 500px;
}
b{
    color: rgb(154, 237, 112);
}
.a6{
    margin: 60px;
} 
a{
    text-decoration: none;
}
.a7{
    border: 1px solid black;
    width: 160px;
    height: 40px;
 border-radius: 4px;

}
.a8{
    margin-left: 570px;
    margin-top: -300px;
}
.container-fluid1{ color: aliceblue;
    margin-left: 5%;
    padding: 70px;
    background-color: rgb(178, 240, 167);
    border-radius: 9px;
    width:90%;
    flex-direction: ;
    display: flex;
    justify-content:space-between;
    font-size: x-large;
}
.navbar-brand{ 
    
    background-color: aliceblue;
    border: 1px solid rgb(233, 225, 225);
    width: auto;
    height: auto;
    border-radius: 8px;
    
}
.a11{ width: 90%;
    height: 90%;
    margin-left: 30px;
}


.a12{margin-left: 20px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.a13{
    margin-left: 37%;
}
.r1{
   
    width: auto;
    height: 120px;
}
.r2{
    
    width: auto;
    height: 150px;
}

.r3{
   
    width: auto;
    height: 120px;
}

.r4{

   
    width: auto;
    height: 120px;
}

.r5{
    
    width: auto;
    height: 120px;
}

.r6{margin-left: 20px;
   
    width: auto;
    height:  120px;
}

.r6:hover{ background-color: rgb(234, 234, 226);
    transition: 0.5s;
    border-radius: 7px;
    transform: scale(1.20);
}
.r1:hover{ background-color:  rgb(234, 234, 226);
    transition: 0.5s;
    border-radius: 7px;
    transform: scale(1.20);
}
.r2:hover{ background-color:  rgb(234, 234, 226);
    transition: 0.5s;
    border-radius: 7px;
    transform: scale(1.20);
}
.r3:hover{ background-color:  rgb(234, 234, 226);
    transition: 0.5s;
    border-radius: 7px;
    transform: scale(1.20);
}
.r4:hover{ background-color:  rgb(234, 234, 226);
    transition: 0.5s;
    border-radius: 7px;
    transform: scale(1.20);
}
.r5:hover{ background-color:  rgb(234, 234, 226);
    transition: 0.5s;
    border-radius: 7px;
    transform: scale(1.20);
}
.r7{ 
    width: auto;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
}
.r8{margin-left: 70px; margin-top: 10px;
    position: absolute;
    border: 1px solid rgb(13, 232, 101);
    border-radius: 6px;
    width: 200px;
    height: 200px;
}
.r9{margin-left: 470px; margin-top: 10px;
    position: absolute;
    border: 1px solid red; border-radius: 6px;
    width: 200px;
    height: 200px;
}
.r11{margin-left: 870px; margin-top: 10px;
    position: absolute;
    border: 1px solid red; border-radius: 6px;
    width: 200px;
    height: 200px;
}
.r8 a{position: absolute;
    border: 1px solid gainsboro;
    border-radius: 7px;
    width: 200px;
    height: 30px;
    margin-top: 230px; margin-left: 50px;
    background-color: rgb(89, 238, 123);
     color: chocolate;
    font-size: larger;
    text-align: center;
}
.r9 a{position: absolute;
    border: 1px solid gainsboro;
    border-radius: 7px;
    width: 200px;
    height: 30px;
    margin-top: 230px; margin-left: 50px;
    background-color: rgb(89, 238, 123);
     color: chocolate;
    font-size: larger;
    text-align: center;
}
.r11 a{position: absolute;
    border: 1px solid gainsboro;
    border-radius: 7px;
    width: 200px;
    height: 30px;
    margin-top: 230px; margin-left: 50px;
    background-color: rgb(89, 238, 123);
     color: chocolate;
    font-size: larger;
    text-align: center;
}
.r8 a:hover{background-color: rgba(89, 238, 124, 0.800);
    transition: 0.5s;
    transform: scale(1.20);
}
.r9 a:hover{background-color: rgba(89, 238, 124, 0.800);
    transition: 0.5s;
    transform: scale(1.20);
}
.r11 a:hover{background-color: rgba(89, 238, 124, 0.800);
    transition: 0.5s;
    transform: scale(1.20);
}
.r8:hover{transition: 0.5s;
    transform: scale(1.12);
}
.r9:hover{transition: 0.5s;
    transform: scale(1.12);
}
.r11:hover{transition: 0.5s;
    transform: scale(1.12);
}
.ab1{
    
    width: 100%;
    height: 40%;
    margin-top: 400px;
}
.ab2{
    margin-left: 50px;
}
.ab3{margin-left: 600px; margin-top: -380px;
    
    width: 50px;
    height:50px; background-color: antiquewhite;
}
.ab4{margin-left: 600px; margin-top: 100px;
    
    width: 50px;
    height:50px; background-color: antiquewhite;
}
.ab5{margin-left: 600px; margin-top: 100px;
    
    width: 50px;
    height:50px; background-color: antiquewhite;
}
.ab6{margin-left: 600px; margin-top: 100px;
    
    width: 70px;
    height:70px;
    background-color: antiquewhite;
}
.ab7{margin-left: 600px; margin-top: -650px;
    
    width: 440px;
    height:70px;
}
.ab8{margin-top: 55px;
    margin-left: 90px;
    
}
.ab9{margin-top: 40px;
    margin-left: 90px;
    
}
.ab11{margin-top: 35px;
    margin-left: 90px;
    
}
.ab12{margin-top: 30px;
    margin-left: 90px;
    
}
.container{background-color: rgba(70, 108, 244, 0.874);
    border: 2px solid red;
    width: 85%;
    height: 300px;
    margin-top: 600px;
    margin-left: 90px;
}
.col{ border: 1px solid red;
    border-radius: 100%;
    height: 250px;
    
    background-color: azure;
    display: flex;
    justify-content: center;
    display: inline;
}
.col1{
    margin-top: 90px;
    margin-left: 80px;
}
.col2{
    margin-top: 90px;
    margin-left: 80px;
}
.col3{
    margin-top: 90px;
    margin-left: 80px;
}
.col4{
    margin-top: 90px;
    margin-left: 80px;
}
h1,p{ color: rgb(0, 0, 0);
    margin-left: 60px;
}

h4 ,h1{
    margin-left: 0%;
}
.input1{position: relative;
    width: 70%;
    height: 300px;
    background-color: rgb(77, 108, 176);
    margin-left: 200px;
    
}
.in1 ,.in2{ position: absolute;
    margin-left: 40%; margin-top: 100px;

}
input{ border: 1px solid greenyellow;
    border-radius: 5px;
    font-size: x-large;
}
#container{
    border: 2px solid red;
}
.row{  background-color: rgb(166, 160, 160);
    border: 2px solid greenyellow;

}
.col{ background-color: rgb(166, 160, 160);
    border: 2px solid  green;
}